# @awesome.me:registry=https://npm.fontawesome.com/
# @fortawesome:registry=https://npm.fontawesome.com/
# npm.fontawesome.com/:_authToken=0B5E2DAB-8AB1-494B-8C9B-E599BFD0447E
# npm.fontawesome.com/:username=2013471393@qq.com
# npm.fontawesome.com/:_password=0B5E2DAB-8AB1-494B-8C9B-E599BFD0447E
